.button{
    -fx-background-color: #2a9d8f;

}

.btn:hover{
    -fx-cursor:hand ;
    -fx-background-color: #ff4800;
}
.table-view {
    -fx-background-color:#eddea4;
    -fx-background-radius:14 14 0 0;

}
.table-view .column-header-background{
    -fx-background-color: #ca5310;
    -fx-background-radius:14;
    -fx-background-insets: 0 0 10 0;



}
.table-view .column-header, .table-view .filler{
    -fx-size:50px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color:transparent;

}

.table-view .column-header .label {
    -fx-text-fill: white ;
}